.MyPost{
	grid-area: MyPost;
}
.post{
	font-size: 24px;
	padding: 10px 0 15px 15px;
	font-family: Bahnschrift;
}
textarea{
	width: 100%;
	border: none;
	border-bottom: 1px solid #000;
	font-size: 18px;
	min-height: 20px;
	position: absolute;
}
.textPost{
	width: 700px;
}
button.send{
	width: 150px;
	height: 40px;
	border-radius: 20px;
	margin: 11px 0 0 750px;
	transition: .1s linear;
	background: #65aad9;
	border: 1px solid #5285ad;
	color: #fff;
	position: absolute;

}
button.send:hover{
	box-shadow: .5px .5px #000;
	cursor: pointer;
	background: #5285ad;
	border: 1px solid #5f85ae;
}
.block{
	float: left;
}
.send:focus{
	display: none;
}
.block textarea, .block button{
}

