.MyPost{
	grid-area: MyPost;
}
.post{
	font-size: 24px;
	padding: 10px 0 15px 15px;
	font-family: Bahnschrift;
}
.textPost{

}
.block  textarea{
	border: none;
	width: 740px;
	border-bottom: 1px solid #000;
	border-radius: 12px;
	font-size: 18px;
	max-height: 40px;
	white-space: pre-wrap;
}

button.send{
	width: 150px;
	height: 40px;
	border-radius: 20px;
	margin-left: 10px;
	transition: .1s linear;
	background: #65aad9;
	border: 1px solid #5285ad;
	color: #fff;
}
button.send:hover{
	box-shadow: .5px .5px #000;
	cursor: pointer;
	background: #5285ad;
	border: 1px solid #5f85ae;
}
.block form{
	display: flex;
	width: 100%;
	flex-direction: row;
	align-items: center;
}
.block textarea, .block button{
}
.simplePost{
	margin-top: 50px;
}

