
.app-writer{
   display: grid;
   grid-template-rows: 60px 1fr;
   grid-template-columns: 2fr 60fr;
   grid-gap: 10px;
   grid-template-areas: "header header"
                        "nav content";
   width: 1100px;
   margin: 0 auto;
   position: relative;
}
.app_content{
   grid-area: content;
}

